@charset "UTF-8";

body {
    /*background-image: url("res/kwnoledge_fon.jpg") ;*/
    background: linear-gradient(blue, green);
    margin: 0 0 0 0;
}
p   {
    font-family: Verdana;
    font-size: x-large;
}
img {
    width: 100px;
}
button  {
    background: linear-gradient(blue, yellow);
    border: 5px outset;
}